
:root {
  --mario: -230px;
  --luigi: -800px;
  --super-mario: -0px;
  --super-luigi: -480px; 
}
.Render-brother {
  width: 160px;
  background-image: url("/mario-grid-a2-enlarged.png");
  background-repeat: no-repeat;
  /* SHORTHAND background: url("/mario-luigi-sprites.png") -80px -1px no-repeat; */
}

/* DIFFERENT BROS STATES */
.mario {
  height: 160px;
  background-position: -0px -320px;
  animation: walk-mario .33s steps(3) infinite;
}
@keyframes walk-mario {
  from { background-position: -160px -320px; }
    to { background-position: -640px -320px; }
}
.luigi {
  height: 160px;
  background-position: -0px -800px;
  animation: walk-luigi .33s steps(3) infinite;
}
@keyframes walk-luigi {
  from { background-position: -160px -800px; }
    to { background-position: -640px -800px; }
}
.mario-super {
  height: 320px;
  background-position: -0px -0px;
  animation: walk-super-mario .33s steps(3) infinite;
}
@keyframes walk-super-mario {
  from { background-position: -160px -0px; }
    to { background-position: -640px -0px; }
}
.luigi-super {
  height: 320px;
  background-position: -0px -480px;
  animation: walk-super-luigi .33s steps(3) infinite;
}
@keyframes walk-super-luigi {
  from { background-position: -160px -480px; }
    to { background-position: -640px -480px; }
}
.fire {
/* Identical sprites used for Mario and Luigi in Fire form */
  height: 320px;
  background-position: -0px -960px;
  animation: walk-fire .33s steps(3) infinite;
}
@keyframes walk-fire {
  from { background-position: -160px -960px; }
    to { background-position: -640px -960px; }
}
.invincible {
  height: 160px;
  background-position: -160px -3200px;
  animation: invincible .33s steps(9) infinite;
}
@keyframes invincible {
  0% { background-position: -160px -3200px; }
  100% { background-position: -1600px -3200px; }
}
.invincible-super {
  height: 320px;
  background-position: -160px -2880px;
  animation: invincible-super .33s steps(9) infinite;
}
@keyframes invincible-super {
  0% { background-position: -160px -2880px; }
  100% { background-position: -1600px -2880px; }
}
.mario-dead {
  height: 160px;
  background-position: -960px -320px;
}
.luigi-dead {
  height: 160px;
  background-position: -960px -800px;
}
.fire-dead { 
/* When timer runs out if Mario/Luigi is in fire-form */
  height: 160px;
  background-position: -960px -1280px;
}
