.Render-mario {
  width: 160px;
  height: 320px;
  background-position: -800px -10px;
  background-image: url("/mario-luigi-sprites-scaled.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* SHORTHAND background: url("/mario-luigi-sprites.png") -80px -1px no-repeat; */
}