@font-face {
  font-family: PressStart;
  src: url(./PressStart2P-vaV7.ttf);
  font-style: normal;
}

:root {
  --mario: -115px;
  --luigi: -400px;
  --super-mario: -0px;
  --super-luigi: -240px; 
}

html, body {
  font-size: 40px;
  color: black;
  font-family: PressStart;
  background: #c8c8c8;  
  /* background: #5691e9; */ /* Sky Blue */
  min-width: 320px; /* prevents layout from breaking on tiny screens */
  box-sizing: border-box;
  image-rendering: pixelated; /* Forces nearest-neighbor algorithm for image scaling */
  image-rendering: -moz-crisp-edges; /* Firefox isn't compatible with "pixelated" yet; 
    still interprets "crisp-edges" as nearest-neighbor, (November 2020) */
}

.Render-brother {
  width: 2rem;
  /* width: 10%; */ /* Responsive sizing test */
  background-image: url("/mario-grid-a2.png");
  background-repeat: no-repeat;
  /* SHORTHAND background: url("/mario-luigi-sprites.png") -80px -1px no-repeat; */
}

/* DIFFERENT BROS STATES */
.mario {
  height: 2rem;
  /* height: 0; */ /* Responsive sizing test */
  /* padding-bottom: 10%; */ /* Responsive sizing test */
  background-position: 0 10%;
  background-size: 2100%;
  animation: walk-mario .33s steps(3) infinite;
}
@keyframes walk-mario {
  from { background-position: 5% 10%; }
    to { background-position: 20% 10%; }
}
/* @keyframes walk-mario {
  from { background-position: -80px -160px; }
    to { background-position: -320px -160px; }
} */
.luigi {
  height: 80px;
  background-position: -0px -400px;
  animation: walk-luigi .33s steps(3) infinite;
}
@keyframes walk-luigi {
  from { background-position: -80px -400px; }
    to { background-position: -320px -400px; }
}
.mario-super {
  height: 160px;
  background-position: -0px -0px;
  animation: walk-super-mario .33s steps(3) infinite;
}
@keyframes walk-super-mario {
  from { background-position: -80px -0px; }
    to { background-position: -320px -0px; }
}
.luigi-super {
  height: 160px;
  background-position: -0px -240px;
  animation: walk-super-luigi .33s steps(3) infinite;
}
@keyframes walk-super-luigi {
  from { background-position: -80px -240px; }
    to { background-position: -320px -240px; }
}
.fire {
/* Identical sprites used for Mario and Luigi in Fire form */
  height: 160px;
  background-position: -0px -480px;
  animation: walk-fire .33s steps(3) infinite;
}
@keyframes walk-fire {
  from { background-position: -80px -480px; }
    to { background-position: -320px -480px; }
}
.invincible {
  height: 80px;
  background-position: -80px -1600px;
  animation: invincible .33s steps(9) infinite;
}
@keyframes invincible {
  0% { background-position: -80px -1600px; }
  100% { background-position: -800px -1600px; }
}
.invincible-super {
  height: 160px;
  background-position: -80px -1440px;
  animation: invincible-super .33s steps(9) infinite;
}
@keyframes invincible-super {
  0% { background-position: -80px -1440px; }
  100% { background-position: -800px -1440px; }
}
.mario-dead {
  height: 80px;
  background-position: -480px -160px;
}
.luigi-dead {
  height: 80px;
  background-position: -480px -400px;
}
.fire-dead { 
/* When timer runs out if Mario/Luigi is in fire-form */
  height: 80px;
  background-position: -480px -640px;
}

/* BUTTON STYLING */
button {
  border: none;
  border-radius: 8px;
  background: #c8c8c8;
  box-shadow:  8px 8px 16px #aaaaaa, 
    -8px -8px 16px #e6e6e6;
}
/* :focus {
  outline: none;
} */

.button-mushroom {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.126rem; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin: 0.125rem;
  background-size: 3000%;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/items-grid-a1.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.button-starman {
  height: 180px;
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/items-grid-a1-half-size.png");
  background-repeat: no-repeat;
  background-position: -960px -0px;
}

.flicker-starman {
  animation: flicker-star .14s steps(4) infinite;
}
@keyframes flicker-star {
  from { background-position: -960px -0px; }
    to { background-position: -1600px -0px; }
}

.button-enemy {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.126rem; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin: 0.125rem;
  background-size: 200%;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/enemies-grid-a1.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.walk-enemy {
  animation: walk-enemy .33s steps(2) infinite; /* .27s*/
}
@keyframes walk-enemy {
  from { background-position: 0% 0%; }
    to { background-position: 200% 0%; }
}

.kill-enemy {
  background-position: -160px -10px;
  /* Flip image upside down */
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
}

.button-fire {
  height: 180px;
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/items-grid-a1-half-size.png");
  background-repeat: no-repeat;
  background-position: -320px -0px;
  animation: glow-fireflower .33s steps(4) infinite;  /* .14s */
}
@keyframes glow-fireflower {
  from { background-position: -320px -0px; }
    to { background-position: -960px -0px; }
}

.button-oneup {
  height: 180px;
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/items-grid-a1-half-size.png");
  background-repeat: no-repeat;
  background-position: -160px -0px;
}

.button-coin {
  height: 180px;
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-origin: content-box;
  background-clip: content-box;
  background-image: url("/items-grid-a1-half-size.png");
  background-repeat: no-repeat;
  background-position: -2240px -0px;
}

.glow-coin {
  animation: glow-coin .8s steps(4);
  animation-iteration-count:infinite;
}
@keyframes glow-coin {
  from { background-position: -2240px -0px; }
    to { background-position: -2880px -0px; }
}

.spin-coin {

}
