@font-face {
  font-family: PressStart;
  src: url(./PressStart2P-vaV7.ttf);
  font-style: normal;
}

html, body {
  font-size: 46px;
  color: white;
  font-family: PressStart;
  background: rgb(76 132 255);
  /* background: #c8c8c8;   */
  min-width: 320px; /* prevents layout from breaking on tiny screens */
  box-sizing: border-box;
  image-rendering: pixelated; /* Forces nearest-neighbor algorithm for image scaling */
  image-rendering: -moz-crisp-edges; /* Firefox isn't compatible with "pixelated" yet; 
    still interprets "crisp-edges" as nearest-neighbor, (November 2020) */
}

.mario-container {
  display: inline-block;
  width: 16rem;
}

.Render-brother {
  width: 2rem;
  margin-left: 5rem;
  background-image: url("/mario-grid-a2.png");
  background-repeat: no-repeat;
  background-size: 2100%;
}

/* DIFFERENT BROS STATES */
.mario {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0 10%;
  animation: walk-mario .33s steps(3) infinite;
}
@keyframes walk-mario {
  from { background-position: 5% 10%; }
    to { background-position: 20% 10%; }
}
.luigi {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0% 25%;
  animation: walk-luigi .33s steps(3) infinite;
}
@keyframes walk-luigi {
  from { background-position: 5% 25%; }
    to { background-position: 20% 25%; }
}
.mario-super {
  height: 4rem;
  background-position: 0% 0%;
  animation: walk-super-mario .33s steps(3) infinite;
}
@keyframes walk-super-mario {
  from { background-position: 5% 0%; }
    to { background-position: 20% 0%; }
}
.luigi-super {
  height: 4rem;
  background-position: 0% 15.8%;
  animation: walk-super-luigi .33s steps(3) infinite;
}
@keyframes walk-super-luigi {
  from { background-position: 5% 15.8%; }
    to { background-position: 20% 15.8%; }
}
.fire {
/* Identical sprites used for Mario and Luigi in Fire form */
  height: 4rem;
  background-position: 0% 31.6%;
  animation: walk-fire .33s steps(3) infinite;
}
@keyframes walk-fire {
  from { background-position: 5% 31.6%; }
    to { background-position: 20% 31.6%; }
}
.invincible {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0% 75%;
  animation: invincible .33s steps(9) infinite;
}
@keyframes invincible {
  0% { background-position: 5% 100%; }
  100% { background-position: 50% 100%; }
}
.invincible-super {
  height: 4rem;
  background-position: 0% 47.4%;
  animation: invincible-super .33s steps(9) infinite;
}
@keyframes invincible-super {
  0% { background-position: 5% 94.75%; }
  100% { background-position: 50% 94.75%; }
}
.mario-dead {
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 10%;
}
.luigi-dead {
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 25%;
}
.fire-dead { 
/* When timer runs out if Mario/Luigi is in fire-form */
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 40%;
}
.message-holder {
  display: none;
  text-align: center;
}
.message-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
.death-screen {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: +1;
  background-color: rgb(0 0 0);
}


/* BUTTON STYLING */
.button-container {
  display: block;
  float: right;
  width: 7rem;
  margin-right: 2rem;
}
button {
  display: inline-block;
  border: none;
  border-radius: 0.4rem;
  background: #4c84ff;
  box-shadow:  0.25rem 0.25rem 0.5rem #4170d9, 
    -0.25rem -0.25rem 0.5rem #5798ff;
  /* box-shadow:  10px 10px 20px #4170d9, 
    -10px -10px 20px #5798ff; */
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.376rem; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin-top: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin-bottom: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
}
:focus {
  outline: none;
}

.button-mushroom {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 0% 0%;
}

.button-starman {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 20.6897% 0%;
}

.flicker-star {
  animation: flicker-star .14s steps(4) infinite;
}
@keyframes flicker-star {
  from { background-position: 20.6897% 0%; }
    to { background-position: 34.4828% 0%; }
}

.hide-star-countdown {
  color: transparent;
}

.show-star-countdown {
  color: inherit;
  text-shadow: 0.125rem 0.125rem black;
}

.align-me {
/* Some buttons have text. This unfortunately moves their position because built-in browser styles are insane.
Solution: add a bit of invisible text to all buttons. */
  opacity: 0%;
}

.button-enemy {
  background-size: 200%;
  background-image: url("/enemies-grid-a1.png");
  background-position: 0% 0%;
}

.walk-enemy {
  animation: walk-enemy .33s steps(2) infinite; 
}
@keyframes walk-enemy {
  from { background-position: 0% 0%; }
    to { background-position: 200% 0%; }
}

.kill-enemy {
  background-position: -160px -10px;
  /* Flip image upside down */
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
}

.button-fire {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 6.8978% 0%;
  animation: glow-fireflower .33s steps(4) infinite;
}
@keyframes glow-fireflower {
  from { background-position: 6.8978% 0%; }
    to { background-position: 20.6897% 0%; }
}
.button-oneup {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 3.4482% 0%;
}

.button-coin {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 48.2759% 0%;
}

.glow-coin {
  animation: glow-coin .8s steps(4);
  animation-iteration-count:infinite;
}
@keyframes glow-coin {
  from { background-position: 48.2759% 0%; }
    to { background-position: 62.0690% 0%; }
}

.spin-coin {

}

.button-bros-toggle {
  background-size: 2100%;
  background-image: url("/mario-grid-a2.png");
}
.toggle-mario {
  background-position: 0% 10%;
}
.toggle-luigi {
  background-position: 0% 25%;
}

/* SCOREBOARD ELEMENTS */
.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: .25rem;
  margin-bottom: 2rem;
}
.sb-col-01 {
  margin-left: 3rem;
}
.sb-col-03 {
  text-align: right;
  margin-right: 3rem;
}
.mini-coin-sprite {
  display: inline-block;
  height: 1rem;
  width: .625rem;
  background-size: 400%;
  background-image: url("/scoreboard-grid-a1.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  animation: glow-mini-coin 1s steps(4) infinite; /* Animation duration isn't working properly. Values above 1s don't work at all.
  CSS edge-case bug??? */
}
@keyframes glow-mini-coin {
  from { background-position: 0% 0%; }
    to { background-position: 133.25% 0%; } /* This isn't working properly either. % location is VERY inaccurate.
    Something is messed-up here. */
}

/* COLUMN LAYOUT */
.row {
  position: relative;
  width: 100%;
  z-index: +2;
}