@font-face {
  font-family: PressStart;
  src: url(./PressStart2P-vaV7.ttf);
  font-style: normal;
}

html,
body {
  font-size: clamp(22px, 5.2vmin, 50px);
  color: white;
  /* background-color: #4293ff; */
  font-family: PressStart;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
  box-sizing: border-box;
  image-rendering: pixelated; /* Forces nearest-neighbor algorithm for image scaling */
  image-rendering: -moz-crisp-edges; /* Firefox isn't compatible with "pixelated" yet; 
    still interprets "crisp-edges" as nearest-neighbor, (November 2020) */
  
}
html,
body ::after {
  /* Sky-blue gradient background */
  height: 100%;
  background-image: linear-gradient(rgb(93, 177, 255), rgb(14, 90, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
}   

.game-container {
  display: flex;
  justify-content: space-between;
}

.mario-column {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.mario-container {
  max-width: 13rem;
  margin-top: 0.5rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.Render-brother {
  width: 2rem;
  background-image: url("/mario-grid-a2.png");
  background-repeat: no-repeat;
  background-size: 2100%;
}

/* DIFFERENT BROS STATES */
.mario {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0 10%;
  animation: walk-mario 0.33s steps(3) infinite;
}
@keyframes walk-mario {
  from {
    background-position: 5% 10%;
  }
  to {
    background-position: 20% 10%;
  }
}
.luigi {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0% 25%;
  animation: walk-luigi 0.33s steps(3) infinite;
}
@keyframes walk-luigi {
  from {
    background-position: 5% 25%;
  }
  to {
    background-position: 20% 25%;
  }
}
.mario-super {
  height: 4rem;
  background-position: 0% 0%;
  animation: walk-super-mario 0.33s steps(3) infinite;
}
@keyframes walk-super-mario {
  from {
    background-position: 5% 0%;
  }
  to {
    background-position: 20% 0%;
  }
}
.luigi-super {
  height: 4rem;
  background-position: 0% 15.8%;
  animation: walk-super-luigi 0.33s steps(3) infinite;
}
@keyframes walk-super-luigi {
  from {
    background-position: 5% 15.8%;
  }
  to {
    background-position: 20% 15.8%;
  }
}
.fire {
  /* Identical sprites used for Mario and Luigi in Fire form */
  height: 4rem;
  background-position: 0% 31.6%;
  animation: walk-fire 0.33s steps(3) infinite;
}
@keyframes walk-fire {
  from {
    background-position: 5% 31.6%;
  }
  to {
    background-position: 20% 31.6%;
  }
}
.invincible {
  height: 2rem;
  margin-top: 2rem;
  background-position: 0% 75%;
  animation: invincible 0.33s steps(9) infinite;
}
@keyframes invincible {
  0% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 50% 100%;
  }
}
.invincible-super {
  height: 4rem;
  background-position: 0% 47.4%;
  animation: invincible-super 0.33s steps(9) infinite;
}
@keyframes invincible-super {
  0% {
    background-position: 5% 94.75%;
  }
  100% {
    background-position: 50% 94.75%;
  }
}
.mario-dead {
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 10%;
}
.luigi-dead {
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 25%;
}
.fire-dead {
  /* When timer runs out if Mario/Luigi is in fire-form */
  height: 2rem;
  margin-top: 2rem;
  background-position: 30% 40%;
}
.message-holder {
  display: none;
  text-align: center;
}
.message-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
.death-screen {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: +1;
  background-color: rgb(0 0 0);
}

/* BUTTON STYLING */
.items-column {

}

.item-button-container {
  width: 7rem;
  margin-right: 3rem;
}
.item-button {
  display: inline-block;
  border: none;
  border-radius: 0.4rem;
  background: #4b9eff;
  box-shadow: 0.25rem 0.25rem 0.5rem #4170d9, -0.25rem -0.25rem 0.5rem #5798ff, inset 0 0 0 0.38rem #4b9eff;
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.376rem; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin-top: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin-bottom: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
}
:focus {
  outline: none;
}

.button-mushroom {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 0% 0%;
}

.button-starman {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 20.6897% 0%;
}

.flicker-star {
  animation: flicker-star 0.14s steps(4) infinite;
}
@keyframes flicker-star {
  from {
    background-position: 20.6897% 0%;
  }
  to {
    background-position: 34.4828% 0%;
  }
}

.hide-star-countdown {
  color: transparent;
}

.show-star-countdown {
  color: inherit;
  text-shadow: 0.125rem 0.125rem #b53121;
}

.align-me {
  /* Some buttons have text. This unfortunately moves their position because built-in browser styles are insane.
Solution: add a bit of invisible text to all buttons. */
  opacity: 0%;
}

.button-enemy {
  background-size: 200%;
  background-image: url("/enemies-grid-a1.png");
  background-position: 0% 0%;
}

.walk-enemy {
  animation: walk-enemy 0.33s steps(2) infinite;
}
@keyframes walk-enemy {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 200% 0%;
  }
}

.kill-enemy {
  background-position: 100% 0%;
  animation: none;
  /* Flip image upside down */
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}

.button-fire {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 6.8978% 0%;
  animation: glow-fireflower 0.33s steps(4) infinite;
}
@keyframes glow-fireflower {
  from {
    background-position: 6.8978% 0%;
  }
  to {
    background-position: 20.6897% 0%;
  }
}
.button-oneup {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 3.4482% 0%;
}

.button-coin {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 48.2759% 0%;
}

.glow-coin {
  animation: glow-coin 0.8s steps(4);
  animation-iteration-count: infinite;
}
@keyframes glow-coin {
  from {
    background-position: 48.2759% 0%;
  }
  to {
    background-position: 62.069% 0%;
  }
}

.spin-coin {
}

.button-bros-toggle {
  background-size: 2100%;
  background-image: url("/mario-grid-a2.png");
}
.toggle-mario {
  background-position: 0% 10%;
}
.toggle-luigi {
  background-position: 0% 25%;
}

.button-question {
  background-size: 3000%;
  background-image: url("/items-grid-a1.png");
  background-position: 34.4828% 0%;
  /* animation: glow-question 0.8s steps(4) infinite; */
}
@keyframes glow-question {
  from {
    background-position: 34.4828% 0%;
  }
  to {
    background-position: 48.2759% 0%;
  }
}

.button-restart {
  border: none;
  border-radius: 0.4rem;
  color: white;
  background: #4c84ff;
  box-shadow: 0.25rem 0.25rem 0.5rem #4170d9, -0.25rem -0.25rem 0.5rem #5798ff;
  height: auto;
  width: auto;
  margin-top: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  margin-bottom: 0.376rem !important; /* 0.001 larger to compensate for Chrome rendering imprecision */
  padding: 0.25rem;
  display: none;
  opacity: 0;
}

.show-button {
  display: block;
  animation: blink-me 1.66s steps(20, start) infinite;
  animation-delay: 2.8s;
}
@keyframes blink-me {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 50;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.controller {
  background-image: url("/super-clean-controller-pixel-perfect-a1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 2.7rem;
  width: 7.8rem;
  margin: 0.3rem;
}
.action-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.4rem;
}
.square-buttons-wrap {
  filter: drop-shadow(0.25rem 0.25rem 0.5rem #4170d9)
    drop-shadow(-0.25rem -0.25rem 0.5rem #5798ff);  
}
.square-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 3rem;
  background-color: transparent;
  border-radius: 3rem;
  width: 5.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.round-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.button-action {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  letter-spacing: -0.1rem;
  line-height: 0.6rem;
  color: rgb(0, 54, 129);
  background-color: #4b9eff;
}
.button-action.a {
  border-radius: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  color: white;
  text-shadow: 0.125rem 0.125rem black;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0;
  letter-spacing: -0.1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem #4170d9, -0.25rem -0.25rem 0.5rem #5798ff;
}
.button-action.b {
  border-radius: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0;
  box-shadow: -0.25rem 0.25rem 0.5rem #4170d9, 
    0.25rem -0.25rem 0.5rem #5798ff;
}
.action-climb {
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}
.action-duck {
  border-radius: 0rem 0rem 0.4rem 0.4rem;
  padding: 0.15rem 0rem 0rem 0rem;
}
.action-left {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  padding: 0.1rem 0.15rem 0rem 0rem;
}
.action-right {
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  padding: .1rem 0rem 0rem 0.15rem;

}
.action-stop {
  border-radius: 0;
  padding: 0.1rem 0rem 0rem 0rem;
}
.action-fire {
  background-size: 3900%;
  background-image: url(/items-grid-a1.png);
  background-position: 79.1% 50%;
  transform: scaleX(-1);
}
.break {
  flex-basis: 100%;
  height: 0;
}

/* SCOREBOARD ELEMENTS */
.scoreboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}
.sb-col-01,
.sb-col-03 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.sb-col-02 {
  margin-top: 1.15rem;
}
.sb-col-03 {
  text-align: right;
}
.mini-coin-sprite {
  display: inline-block;
  margin-right: 0.25rem;
  height: 1rem;
  width: 0.625rem;
  background-size: 400%;
  background-image: url("/scoreboard-grid-a1.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  animation: glow-mini-coin 1s steps(4) infinite;
}
@keyframes glow-mini-coin {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 133.25% 0%;
  } 
}
.small-spacer {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* COLUMN LAYOUT */
.row {
  position: relative;
  width: 100%;
  z-index: +2;
}

/* RESPONSIVE VIEWPORT ADJUSTMENTS */
@media (max-width: 1400px) {
  .mario-container {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .action-button-container {
    margin-left: 0.5rem;
  }
  .item-button-container {
    margin-right: 0.5rem;
  }
  .sb-col-01,
  .sb-col-03 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 440px) {
  .scoreboard {
    margin-bottom: 1rem;
  }
  .sb-col-02 {
    flex-basis: 100%;
    order: 3;
    margin-top: 0.76rem;
  }
  .sb-col-01,
  .sb-col-02,
  .sb-col-03 {
    margin-left: 0.5rem;
  }
}
@media (max-width: 380px) {
  .square-buttons {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
}
@media (max-width: 340px) {
  .mario-container {
    margin-left: 0rem;
  }
  .action-button-container {
    margin-left: 0rem;
  }
  .item-button-container {
    margin-right: 0rem;
  }
}
